body {
	background-color: black;
}

h1 {
	color: limegreen;
	font-family: courier;
	text-align: center;
}

canvas {
	background: black;
	display: block;
	margin: 0 auto;
	border: solid;
	border-width: 2px;
	border-color: silver;
	border-radius: 10px
}

	