body {
	background-color: black;
}

h1 {
	color: limegreen;
	font-family: courier;
	text-align: center;
}

canvas {
	background: black;
	display: block;
	margin: 0 auto;
	border: solid;
	border-width: 2px;
	border-color: silver;
	border-radius: 10px
}

button {
	border: none;
	background-color: green;
	color: white;
	text-align: center;
	height: 60px;
	width: 60px;
	border-radius: 8px;
	

}

.item-up {
	grid-area: up;
	padding: 0;
	margin: 0;
}
.item-left {
	grid-area: left;
	padding: 0;
	margin: 0;
}
.item-right {
	grid-area: right;
	padding: 0;
	margin: 0;
}
.item-down {
	grid-area: down;
	padding: 0;
	margin: 0;
}

.button-container {
	display: grid;
	justify-content: center;
	grid-column-gap: 2px;
	grid-template-columns: 60px 60px 60px;
	grid-template-rows: 60px 60px 60px;
	grid-template-areas: 
		". up ."
		"left . right"
		". down .";
}

